# Секреты — никогда не коммитим
.env

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Платформенные сборки
android/.gradle/
ios/Pods/
